<% if @posts.any? { |post| post.user.present? } %>
<!-- 投稿がある場合は下記を表示する -->
  <% @posts.each do |post| %>
    <% if post.user.present? %>
    <!-- user_idとpost_idがnilでない投稿の場合は下記を表示する -->
      <div>
        <%= link_to public_post_path(post.id) do %>
          <%= image_tag post.get_post_image(500, 500) %>
        <% end %>
        <p><%= post.title %></p>
        <p><%= post.text %></p>
      </div>
      <% if post.favorited_by?(current_user) %>
        <p>
          <%= link_to public_post_favorites_path(post), method: :delete do %>
            <i class="fa-solid fa-thumbs-up"></i> <%= post.favorites.count %>
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to public_post_favorites_path(post), method: :post do %>
            <i class="fa-regular fa-thumbs-up"></i> <%= post.favorites.count %>
          <% end %>
        </p>
      <% end %>
      <%= link_to public_user_path(post.user) do %>
        <%= image_tag post.user.get_profile_image(100, 100) %>
      <% end %>
      <p>ユーザー：<%= post.user.name %></p>
    <% end %>
  <% end %>
<% else %>
  <p>
    まだ投稿はありません<br>
    投稿してみましょう！
  </p>
<% end %>
