<% if !@posts.empty? %>
<!--空でないの場合のみ表示する-->
  <div class = "container">
    <div class = "row">
      <div class = "mx-auto">
        <div class = "mb-1 mt-3">
          <% if current_user.email != "guest@example.com" %>
            <%= render "public/searches/search" %>
          <% end %>
        </div>
        <table class = "table">
          <% @posts.each do |post| %>
            <% if post.user.present? %>
            <!-- user_idとpost_idがnilでない投稿の場合は下記を表示する -->
              <tr>
                <td>
                  <%= link_to public_user_path(post.user) do %>
                    <%= image_tag post.user.get_profile_image(50, 50), style: "margin-bottom: 10px; margin-right: 10px;" %>
                  <% end %>
                  <%= post.user.name %>
                  <% if post.user.request.present? %>
                    <% if post.user.request.mark_status == "certifiable" %>
                      <%= image_tag("mark.png", style: "width: 20px; height: 20px;", class: "ml-1") %>
                    <% end %>
                  <% end %><br>
                  <%= link_to public_post_path(post) do %>
                    <%= image_tag post.get_post_image(500, 500) %>
                  <% end %><br>
                  <%= content_tag(:div, class: "text-wrap") do %>
                    <% if post.text.length > 30 %>
                      <% (post.text.length / 30.0).ceil.times do |i| %>
                      <%= truncate(post.text[i*30, 30], length: 30).html_safe %><br>
                    <% end %>
                      <%= post.text[(post.text.length / 30.0).ceil * 30..-1] %>
                    <% else %>
                      <%= post.text %>
                    <% end %>
                  <% end %><br>
                  <%= post.created_at.strftime('%Y/%m/%d') %><br>
                  <% if current_user.email != "guest@example.com" %>
                    <%= render "public/favorites/favorite", post: post %>
                    <%= link_to public_post_path(post), class: "text-dark" do %>
                      <i class = "fa-regular fa-comment"></i> <%= post.post_comments_count %>
                    <% end %>
                    <%= form_with url: public_post_post_comments_path(post), model: @post_comment do |f| %>
                      <%= f.text_area :comment, rows: "3", placeholder: "コメントを入力", style: "width: 100%;" %>
                      <%= f.submit "送信する", class: "btn btn-sm btn-dark float-right"  %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class = "mx-auto align-items-center" style = "display: flex; justify-content: center; align-items: center; height: 60vh; flex-direction: column;">
    <h3><strong>投稿してみましょう！</strong></h3>
  </div>
<% end %>
