<% if @posts.any? { |post| post.user.present? } %>
  <% @posts.each do |post| %>
    <% if post.user.present? %>
    <!-- user_idとpost_idがnilでない投稿の場合は下記を表示する -->
      <div>
        <%= link_to public_post_path(post.id) do %>
          <%= image_tag post.get_post_image(500, 500) %>
        <% end %>
        <%= image_tag post.user.get_profile_image(100, 100) %>
        <p><%= post.title %></p>
        <p><%= post.text %></p>
        <p>ユーザー：<%= post.user.name %></p>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>投稿はありません</p>
<% end %>
