<% if !@posts.empty? %>
<!--空でないの場合のみ表示する-->
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="mb-1">
            <%= render "public/searches/search" %>
          </div>
        <table class = "table">
          <% @posts.each do |post| %>
            <% if post.user.present? %>
            <!-- user_idとpost_idがnilでない投稿の場合は下記を表示する -->
              <tr>
                <td>
                  <%= link_to public_user_path(post.user) do %>
                    <%= image_tag post.user.get_profile_image(50, 50) %>
                  <% end %>
                  <%= post.user.name %><br>
                  <%= link_to public_post_path(post) do %>
                    <%= image_tag post.get_post_image(1000, 1000) %>
                  <% end %><br>
                  <%= post.text %><br>
                  <%= post.created_at.strftime('%Y/%m/%d') %><br>
                  <% if current_user.email != "guest@example.com" %>
                  <%= render "public/favorites/favorite", post: post %>
                  <%= link_to public_post_path(post) do %>
                    <i class="fa-regular fa-comment"></i> <%= post.post_comments.count %>
                  <% end %>
                  <%= form_with url: public_post_post_comments_path(post), model: @post_comment do |f| %>
                    <%= f.text_area :comment, rows: '3', placeholder: "コメントを入力", style: "width: 100%;" %>
                    <%= f.submit "送信する" %>
                  <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <th>
          まだ投稿はありません。<br>
          投稿してみましょう！
        </th>
      </div>
    </div>
  </div>
<% end %>
