<% if @post && @post.user.present? %>
<!-- user_idまたはpost_idがnilでなければ下記を表示する -->
  <div class = "container">
    <div class = "row">
      <div class = "mx-auto mt-3">
        <table class = "table">
          <tr>
            <td>
              <% if @post.user == current_user %>
                <%= link_to "投稿を削除する", public_post_path(@post), method: :delete, class: "btn btn-sm btn-danger float-right", data: { confirm: "本当に削除しますか？" } %>
              <% end %>
              <%= link_to public_user_path(@post.user) do %>
                <%= image_tag @post.user.get_profile_image(50, 50), style: "margin-bottom: 10px; margin-right: 10px;" %>
              <% end %>
              <%= @post.user.name %>
              <% if @post.user.request.present? %>
                <% if @post.user.request.mark_status == "certifiable" %>
                  <%= image_tag("mark.png", style: "width: 20px; height: 20px;", class: "ml-1") %>
                <% end %>
              <% end %><br>
              <%= image_tag @post.get_post_image(500, 500) %><br>
              <%= content_tag(:div, class: "text-wrap") do %>
                <% if @post.text.length > 30 %>
                  <% (@post.text.length / 30.0).ceil.times do |i| %>
                  <%= truncate(@post.text[i*30, 30], length: 30).html_safe %><br>
                <% end %>
                  <%= @post.text[(@post.text.length / 30.0).ceil * 30..-1] %>
                <% else %>
                  <%= @post.text %>
                <% end %>
              <% end %><br>
              <%= @post.created_at.strftime('%Y/%m/%d') %><br>
              <% if current_user.email != "guest@example.com" %>
                <%= render "public/favorites/favorite", post: @post %>
                <i class = "fa-regular fa-comment"></i> <%= @post.post_comments_count %>
                <%= form_with url: public_post_post_comments_path(@post), model: @post_comment do |f| %>
                  <%= f.text_area :comment, rows: "3", placeholder: "コメントを入力",style: "width: 100%;" %>
                  <%= f.submit "送信する", class: "btn btn-sm btn-dark float-right"  %>
                <% end %>
              <% end %>
             </td>
          </tr>
          <% if current_user.email != "guest@example.com" %>
            <% @post.post_comments.each do |post_comment| %>
              <tr>
                <td>
                  <%= image_tag post_comment.user.get_profile_image(30, 30) %>
                  <%= post_comment.user.name %><br>
                  <%= post_comment.comment %><br>
                  <%= post_comment.created_at.strftime('%Y/%m/%d') %>
                  <% if post_comment.user == current_user %>
                    <%= link_to "コメントを削除", public_post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-sm btn-danger float-right", data: { confirm: "本当に削除しますか？" } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% end %>