<% if @users.exists? %>
  <div class = "container">
    <div class = "row justify-content-center">
      <div class = "col-md-10 mt-3">
        <h3><strong>フォロワーリスト</strong></h3>
        <table class="table mt-3">
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to public_user_path(user) do %>
                  <%= image_tag user.get_profile_image(30, 30) %>
                <% end %>
              <td>
              <td>
                <%= user.name %>
                <% if user.request.present? %>
                  <% if user.request.mark_status == "certifiable" %>
                    <%= image_tag("mark.png", style: "width: 20px; height: 20px;", class: "ml-1") %>
                  <% end %>
                <% end %>
              </td>
              <td><%= "フォロー #{user.followings_count} 人" %></td>
              <td><%= "フォロワー #{user.followers_count} 人" %></td>
              <td><%= link_to "プロフィール", public_user_path(user), class: "btn btn-sm btn-dark" %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class = "mx-auto align-items-center" style = "display: flex; justify-content: center; align-items: center; height: 60vh; flex-direction: column;">
    <h3><strong>フォロワーはいません。</strong></h3>
  </div>
<% end %>