<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-md-10 mt-3">
      <h3>フォローリスト</h3>
      <% if @users.exists? %>
        <table class="table">
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to public_user_path(user) do %>
                  <%= image_tag user.get_profile_image(30, 30) %>
                <% end %>
              <td>
              <td><%= user.name %></td>
              <td><%= "フォロー #{user.followings_count} 人" %></td>
              <td><%= "フォロワー #{user.followers_count} 人" %></td>
              <td><%= link_to "ユーザーinfo", public_user_path(user), class: "btn btn-sm btn-dark" %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class = "mx-auto align-items-center" style = "display: flex; justify-content: center; align-items: center; height: 60vh; flex-direction: column;">
    <h3>フォローしたユーザーはいません</h3>
  </div>
<% end %>