<% if @range == "ユーザー名" %>
  <div class = "container mt-3">
    <div class = "row justify-content-center">
      <div class = "col-md-10">
        <% if params[:search] == "perfect_match" %>
          <h3>「<%= params[:word] %>」のユーザー完全一致検索結果</strong></h3>
        <% elsif params[:search]  == "partial_match" %>
          <h3>「<%= params[:word] %>」のユーザー部分検索結果</strong></h3>
        <% end %>
        <% if @users.empty? %>
          <div style = "display: flex; justify-content: center; align-items: center; height: 60vh;">
            <div style = "text-align: center;">
              <h3><strong>該当するユーザーはいません。</strong></h3>
            </div>
          </div>
        <% else %>
          <table class = "table mt-3">
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= link_to public_user_path(user) do %>
                    <%= image_tag user.get_profile_image(50,50) %>
                  <% end %>
                </td>
                <td>
                  <%= user.name %>
                  <% if user.request.present? %>
                    <% if user.request.mark_status == "certifiable" %>
                      <%= image_tag("mark.png", style: "width: 20px; height: 20px;", class: "ml-1") %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= user.introduction %></td>
                <% unless user.id == current_user.id %>
                  <% if current_user.following?(user) %>
                    <td><%= link_to "フォロー外す", public_user_relationships_path(user), method: :delete, class: "btn btn-sm btn-dark float-right" %></td>
                  <% else %>
                    <td><%= link_to "フォローする", public_user_relationships_path(user), method: :post, class: "btn btn-sm btn-dark float-right" %></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class = "container mt-3">
    <div class = "row justify-content-center">
      <div class = "col-md-10">
        <% if params[:search] == "perfect_match" %>
          <h3><strong>「<%= params[:word] %>」の投稿完全一致検索結果</strong></h3>
        <% elsif params[:search]  == "partial_match" %>
          <h3><strong>「<%= params[:word] %>」の投稿部分検索結果</strong></h3>
        <% end %>
        <% if @posts.empty? %>
          <div style = "display: flex; justify-content: center; align-items: center; height: 60vh;">
            <div style = "text-align: center;">
              <h3><strong>該当する投稿はありません。</strong></h3>
            </div>
          </div>
        <% else %>
          <table class = "table mt-3">
            <% @posts.each do |post| %>
              <tr>
                <td>
                  <%= link_to public_post_path(post) do %>
                    <%= image_tag post.get_post_image(50,50) %>
                  <% end %>
                </td>
                <td>
                  <%= content_tag(:div, class: "text-wrap") do %>
                    <% if post.text.length > 10 %>
                      <% truncated_text = truncate(post.text, length: 10, omission: '') %>
                      <%= "#{truncated_text}…" %>
                    <% else %>
                      <%= post.text %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= render "public/favorites/favorite", post: post %></td>
                <td>
                  <%= link_to public_post_path(post), class: "text-dark" do %>
                    <i class="fa-regular fa-comment"></i> <%= post.post_comments_count %>
                  <% end %>
                </td>
                <td>
                  <%= form_with url: public_post_post_comments_path(post), model: @post_comment do |f| %>
                    <%= f.text_area :comment, rows: "1", placeholder: "コメントを入力",style: "width: 50%;" %>
                    <%= f.submit "送信する" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>