<% if @range == "ユーザー名" %>
  <div class = "container mt-3">
    <div class = "row justify-content-center">
      <div class = "col-md-10">
        <% if params[:search] == "perfect_match" %>
          <h3><strong>「<%= params[:word] %>」のユーザー完全一致検索結果</strong></h3>
        <% elsif params[:search]  == "partial_match" %>
          <h3><strong>「<%= params[:word] %>」のユーザー部分一致検索結果</strong></h3>
        <% end %>
        <% if @users.empty? %>
          <div style = "display: flex; justify-content: center; align-items: center; height: 60vh;">
            <div style = "text-align: center;">
              <h3><strong>該当するユーザーはいません。</strong></h3>
            </div>
          </div>
        <% else %>
          <table class = "table mt-3">
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= link_to public_user_path(user) do %>
                    <%= image_tag user.get_profile_image(50,50) %>
                  <% end %>
                </td>
                <td>
                  <%= user.name %>
                  <% if user.request.present? %>
                    <% if user.request.mark_status == "certifiable" %>
                      <%= image_tag("mark.png", style: "width: 20px; height: 20px;", class: "ml-1") %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= user.introduction %></td>
                <td><%= "フォロー #{user.followings_count} 人" %></td>
                <td><%= "フォロワー #{user.followers_count} 人" %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class = "container mt-3">
    <div class = "row justify-content-center">
      <div class = "col-md-10">
        <% if params[:search] == "perfect_match" %>
          <h3><strong>「<%= params[:word] %>」の投稿完全一致検索結果</strong></h3>
        <% elsif params[:search]  == "partial_match" %>
          <h3><strong>「<%= params[:word] %>」の投稿部分一致検索結果</strong></h3>
        <% end %>
        <% if @posts.empty? %>
          <div style = "display: flex; justify-content: center; align-items: center; height: 60vh;">
            <div style = "text-align: center;">
              <h3><strong>該当する投稿はありません。</strong></h3>
            </div>
          </div>
        <% else %>
          <table class = "table mt-3">
            <% @posts.each do |post| %>
              <tr>
                <td>
                  <%= link_to public_post_path(post) do %>
                    <%= image_tag post.get_post_image(50,50) %>
                  <% end %>
                </td>
                <td>
                  <%= content_tag(:div, class: "text-wrap") do %>
                    <% if post.text.length > 10 %>
                      <% truncated_text = truncate(post.text, length: 10, omission: '') %>
                      <%= "#{truncated_text}…" %>
                    <% else %>
                      <%= post.text %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
                <% if post.favorited_by?(current_user) %>
                  <td class = "text-warning mr-2 fuchidori">
                    <i class = "fa-solid fa-thumbs-up"></i> <%= post.favorites_count %>
                  </td>
                <% else %>
                  <td>
                    <i class = "fa-regular fa-thumbs-up"></i> <%= post.favorites_count %>
                  </td>
                <% end %>
                <td><i class="fa-regular fa-comment"></i> <%= post.post_comments_count %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>