<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-md-10 mt-3">
      <h3><strong>ご利用者情報</strong></h3>
      <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
        <div class="text-right">
          <%= f.submit "ご利用状況を変更", class: "btn btn-danger", data: { confirm: "ご利用状況の変更を行います。よろしいでしょうか？" } %>
        </div>
        <table class = "table table-bordered mt-1">
          <tbody>
            <tr>
              <td class = "px-3">ユーザーID</td>
              <td class = "px-3"><%= @user.id %></td>
            </tr>
            <tr>
              <td class = "px-3">ユーザー画像</td>
              <td class = "px-3"><%= image_tag @user.get_profile_image(20, 20) %></td>
            </tr>
            <tr>
              <td class = "px-3">ユーザー名</td>
              <td class = "px-3"><%= @user.name %></td>
            </tr>
            <tr>
              <td class = "px-3">自己紹介文</td>
              <td class = "px-3"><%= @user.introduction %></td>
            </tr>
            <tr>
              <td class = "px-3">メールアドレス</td>
              <td class = "px-3"><%= @user.email %></td>
            </tr>
            <tr>
              <td class = "px-3">ご利用開始日</td>
              <td class = "px-3"><%= @user.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <td class = "px-3">ご利用状況</td>
              <td class = "px-3">
                <%= f.radio_button :is_active, :true %>
                <%= f.label :is_active, "再登録", { value: :true } %>
                <%= f.radio_button :is_active, :false %>
                <%= f.label :is_active, "利用停止", { value: :false } %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>