<% if @user.id == current_user.id %>
<!-- ログイン中のidだった場合は下記を表示する -->
  <div class = "container">
    <div class = "row">
      <div class = "mx-auto align-items-center" style = "display: flex; justify-content: center; align-items: center; height: 70vh; flex-direction: column;" >
        <h3><strong>プロフィール</strong></h3>
        <%= form_with model: @user, url: public_user_path(@user), method: :patch do |f| %>
          <h6>ユーザー名(10文字以内)</h6>
          <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "ユーザー名を入力", style: "width: 100%;" %>
          <h6>メッセージ(20文字以内)</h6>
          <%= f.text_field :introduction, autofocus: true, id: "inputIntroduction", placeholder: "メッセージを入力", style: "width: 100%;" %>
          <h6>プロフィール画像</h6>
          <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
          <%= f.submit "変更を保存する", class: "btn btn-sm btn-dark" %>
        <% end %>
        <% if @user.has_request? %>
        <!-- 申請していれば-->
          <% if @user.request.mark_status == "unverified" %>
          <!-- 未認証の場合-->
            <h6 class = "mt-5">＜企業様用認証マーク申請済み＞</h6>
          <% elsif @user.request.mark_status == "certifiable" %>
            <h6 class = "mt-5">＜企業様用認証マーク付与済み＞</h6>
          <% elsif @user.request.mark_status == "unprovable" %>
            <%= form_with model: @user.request, url: public_user_requests_path(@user), method: :post do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <div class="d-flex align-items-center mt-5">
                <h6 class = "mr-3">
                  企業様用の認証マークをご用意しております。<br>
                  ご希望の方は、右記ボタンより申請ください。
                </h6>
                <%= f.submit "企業認証マーク申請", class: "btn btn-sm btn-outline-info text-dark", data: { confirm: "企業様用認証マークの申請を行います。よろしいでしょうか？" } %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <%= form_with model: @user.request, url: public_user_requests_path(@user), method: :post do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="d-flex align-items-center mt-5">
              <h6 class = "mr-3">
                企業様用の認証マークをご用意しております。<br>
                ご希望の方は、右記ボタンより申請ください。
              </h6>
              <%= f.submit "企業認証マーク申請", class: "btn btn-sm btn-outline-info text-dark", data: { confirm: "企業様用認証マークの申請を行います。よろしいでしょうか？" } %>
            </div>
          <% end %>
        <% end %>
        <%= link_to "退会はこちらから",  public_user_confirm_path(current_user), class: "text-dark mt-5" %>
      </div>
    </div>
  </div>
<% end %>
