<% if @favorites && !@favorites.empty? %>
<!--いいねしたものがnilでなく、かつ空でない場合は表示する。-->
  <% @favorites.each do |favorite| %>
    <div>
      <p><%= favorite.post.text %></p>
      <%= link_to public_post_path(favorite.post) do %>
        <%= image_tag favorite.post.get_post_image(500, 500) %>
      <% end %>
      <p><%= favorite.post.created_at.strftime('%Y/%m/%d') %></p>
    </div>
    <%= link_to public_post_path(favorite.post.id) do %>
      <p><i class="fa-regular fa-comment"></i> <%= favorite.post.post_comments.count %></p>
    <% end %>
    <%= form_with url: public_post_post_comments_path(favorite.post), model: @post_comment do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力" %>
      <%= f.submit "送信する" %>
    <% end %>
    <p><%= render "public/favorites/favorite", post: favorite.post %></p>
    <%= link_to public_user_path(favorite.post.user) do %>
      <%= image_tag favorite.post.user.get_profile_image(100, 100) %>
    <% end %>
    <p>ユーザー：<%= favorite.post.user.name %></p>
  <% end %>
<% else %>
  <p>まだいいねした投稿はありません。いいねしてみましょう！</p>
<% end %>
<%= link_to "ユーザー情報に戻る", public_user_path(@user), class: "btn btn-lg btn-light btn-block mb-3" %>