<% if @favorites && !@favorites.empty? %>
<!--いいねしたものがnilでなく、かつ空でない場合は表示する。-->
  <div class = "container">
    <div class = "row">
      <div class = "mx-auto mt-3">
        <h3 style = "display: flex; justify-content: center;"><strong><span class = "fuchidori">GOOD</span> リスト</strong></h3>
        <table class = "table mt-3">
          <% @favorites.each do |favorite| %>
            <tr>
              <td>
                <%= link_to public_user_path(favorite.post.user) do %>
                  <%= image_tag favorite.post.user.get_profile_image(50, 50), style: "margin-bottom: 10px; margin-right: 10px;" %>
                <% end %>
                <%= favorite.post.user.name %>
                <% if favorite.post.user.request.present? && favorite.post.user.request.mark_status == "certifiable" %>
                  <%= image_tag("mark.png", style: "width: 20px; height: 20px;", class: "ml-1") %>
                <% end %><br>
                <%= link_to public_post_path(favorite.post) do %>
                  <%= image_tag favorite.post.get_post_image(500, 500) %>
                <% end %><br>
                <%= content_tag(:div, class: "text-wrap") do %>
                    <% if favorite.post.text.length > 30 %>
                      <% (favorite.post.text.length / 30.0).ceil.times do |i| %>
                      <%= truncate(favorite.post.text[i*30, 30], length: 30).html_safe %><br>
                    <% end %>
                      <%= favorite.post.text[(favorite.post.text.length / 30.0).ceil * 30..-1] %>
                    <% else %>
                      <%= favorite.post.text %>
                    <% end %>
                  <% end %><br>
                <%= favorite.post.created_at.strftime('%Y/%m/%d') %><br>
                <span id = "favorite_buttons_<%= favorite.post.id %>">
                  <%= render "public/favorites/favorite", post: favorite.post %>
                </span>
                <%= render "public/post_comments/post_comment", post: favorite.post, post_comment: @post_comment %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <div class = "mx-auto align-items-center" style = "display: flex; justify-content: center; align-items: center; height: 60vh; flex-direction: column;">
    <h3><strong>GOODした投稿はありません。</strong></h3>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <%= link_to "マイページに戻る", public_user_path(@user), class: "btn btn-dark mx-auto mb-3" %>
  </div>
</div>