<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5D0C1D;">
    <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png', size: '100x100') %></a>
    <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarNavDropdown" aria-controls = "navbarNavDropdown" aria-expanded = "false" aria-label = "Toggle navigation">
      <span class = "navbar-toggler-icon"></span>
    </button>
    <div class = "collapse navbar-collapse" id = "navbarNavDropdown">
      <ul class = "navbar-nav ml-auto">
          <% if admin_signed_in? %>
          <!--adminにログインしている時に表示する-->
          <% elsif user_signed_in? %>
          <!--userでログインしている時に表示する-->
            <li class="nav-item">
              <%= link_to '投稿フォーム', new_public_post_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to '投稿一覧', public_posts_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', public_user_path(current_user.id), class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
            </li>
            <% else %>
            <!--adminでもuserでもログインしていない時に表示する-->
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>